<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar-dark">
  <!--<ion-nav-buttons side="primary">
    <div ng-if="$location.url().includes('promotions')">
      <button class="button button-clear" ui-sref="tab.venuesMap">
        <i class="ion-arrow-left-c"></i> Back
      </button>
    </div>
  </ion-nav-buttons>
-->
</ion-nav-bar>


<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-background-dark">

  <!-- Barcode scanner Tab -->
  <ion-tab title="Scan" icon-off="ion-qr-scanner" icon-on="ion-qr-scanner" href="/scan">
    <ion-nav-view name="tab-scan"></ion-nav-view>
  </ion-tab>

  <!-- Venue Promotions Tab -->
  <!--
  <ion-tab title="Promotions" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.venuePromotions">
    <ion-nav-view name="tab-venuePromotions"></ion-nav-view>
  </ion-tab>
-->

  <!-- Venues Tab -->
  <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" ui-sref="tab.venuesMap">
    <ion-nav-view name="tab-venuesMap"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Venues" icon-off="ion-flash" icon-on="ion-flash" ui-sref="tab.venuesList">
    <ion-nav-view name="tab-venuesList"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Promotions" icon-off="ion-speakerphone" icon-on="ion-speakerphone" ui-sref="tab.promotions">
    <ion-nav-view name="tab-promotions"></ion-nav-view>
  </ion-tab>

</ion-tabs>
