<ion-view title="Venue Details" id="venueDetailsPage"  class="main-background">
  <ion-content padding="true" class="has-header">
      <div class="list card">
        <ion-item class="item-thumbnail-left">
          <img ng-src="{{venue.logo_url !== undefined && venue.logo_url != null ? venue.logo_url : 'img/venue_placeholder.png'}}"/>
          <div class="col col-70" >

            <p style="font-size:13pt; font-weight: bold">{{venue.name}}</p>
            <p style="font-size:11pt;position:relative; top: 2px">{{venue.address}}, {{venue.city}}</p>
            <p style="font-size:11pt;position:relative; top: 2px">{{venue.open_time || "12am"}} - {{venue.close_time || "11:59pm"}}</p>
          </div>

          <div class="text-right" style="font-size: 11pt; position:absolute;  right:5px; top: 12px">
                {{venue.distance | number:1}} mi

                <br />
                <span style="position:relative; right: 6px">{{venue.promo_count}} <i class="ion-speakerphone" ></i></span>
            </div>
         </div>

        </ion-item>
        <div id="venueDetails-button-bar" class="button-bar" >

          <button class="button button-block"  style="color: white !important"
                  ng-class="{'button-dark-pink' : mode=='promotions' , 'button-light-pink': mode!='promotions'}"
                  ng-click="mode='promotions'">
              Promotions
          </button>
            <button id="venueDetails-button2" class="button button-block"  style="color: white !important"
                    ng-class="{'button-dark-pink' : mode=='stats' , 'button-light-pink': mode!='stats'}"
                    ng-click="mode='stats' ">
                Stats
            </button>
        </div>

          <ion-list id="promotions-list" ng-show="mode =='promotions'">
              <ion-item ng-repeat="promotion in promotionList"
                        class="item-thumbnail-left"
                        on-tap="goToPromotionDetails(promotion)">
                  <img ng-src="{{promotion.ad_location !== undefined && promotion.ad_location != null ? promotion.ad_location : 'img/promotion_placeholder.png'}}"/>

                   <div class="row">
                     <div class="col col-100">
                       <h2>{{promotion.name}}</h2>
                       <p>{{promotion.description}}</p>
                     </div>
                   </div>
              </ion-item>

        </ion-list>

        <div ng-show="mode=='stats'">
          <div class="row">
             <div class="col col-50 text-center">
               {{venue.promo_count}} <i class="ion-speakerphone"></i>
             </div>
             <div class="col col-50 text-center">
               Stat2
             </div>
          </div>
          <div class="row">
             <div class="col col-50 text-center">
               Stat3
             </div>
             <div class="col col-50 text-center">
               Stat4
             </div>
          </div>
          <div class="row">
             <div class="col col-50 text-center">
                Stat5
             </div>
             <div class="col col-50 text-center">
               Stat6
             </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
