<ion-view title="Venue Details" id="page7">
  <ion-content padding="true" class="has-header">
      <div class="list card" id="venueDetails-card23">
          <ion-item class="item-thumbnail-left" id="venueDetails-list-item23">
              <h2>Royale</h2>
              <p>1 Main st.</p>
          </ion-item>
          <div id="venueDetails-button-bar1" class="button-bar">
              <button id="venueDetails-button2" class="button button-stable  button-block">Stats</button>
              <button id="venueDetails-button1" class="button button-dark  button-block">Promotions</button>
          </div>
          <div class="row">
             <div class="col col-50">
               Stat1
             </div>
             <div class="col col-50">
               Stat2
             </div>
          </div>
          <div class="row">
             <div class="col col-50">
               Stat3
             </div>
             <div class="col col-50">
               Stat4
             </div>
          </div>
          <div class="row">
             <div class="col col-50">
                Stat5
             </div>
             <div class="col col-50">
               Stat6
             </div>
          </div>

      </div>
  </ion-content>
</ion-view>
