<ion-view title="Venues" id="Venues">
    <ion-content padding="true" class="has-header">
        <ion-list id="venues-list2">
            <ion-item ng-repeat="venue in venueList"
                      class="item-thumbnail-left"
                      id="venues-list-item5"
                      ng-click="showVenuePromotions(venue)">
                <img ng-src="{{venue.url !== undefined && venue.url !==null ? venue.url : 'img/venue_placeholder.png'}}"/>

                <div class="col col-70">

                  <p style="font-size:11pt">{{venue.name}}</p>
                  <p style="font-size:9pt">{{venue.address}}</p>
                  <p style="font-size:9pt">{{venue.city}}, {{venue.state}} {{venue.zip_code}}
                  <p style="font-size:9pt">{{venue.phone || "(xxx)xxx-xxx"}}
                </div>

                <div class="text-left" style="font-size: 10pt;position:absolute; right:0px; top: 25%">
                        {{venue.promo_count}} promos
                        <br />
                        {{venue.distance | number:1}} mi
                    </div>
                 </div>
            </ion-item>

            <ion-item class="item-thumbnail-left"
                      id="venues-list-item"
                      ng-click="showVenuePromotions(19)">
                <img class="venueLogo" ng-src="img/venue_placeholder.png"
                     style="top:15%;"/>

                  <div class="col col-70">
                    <p style="font-size:11pt">Boston Beer Works</p>
                    <p style="font-size:9pt">10-12 landsdown st</p>
                    <p style="font-size:9pt">Boston, MA 02115 </p>
                    <p style="font-size:9pt">(xxx)xxx-xxxx</p>
                  </div>
                 <div class="text-left" style="font-size: 10pt;position:absolute; right:0px; top: 25%">
                   1 promo
                   <br />
                   {{.3432 | number:1}} mi
                 </div>
               </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
