<ion-view title="Venues" id="Venues">
    <ion-content padding="true" class="has-header">
        <ion-list id="venues-list2">
            <ion-item ng-repeat="venue in venueList"
                      class="item-thumbnail-left"
                      id="venues-list-item5"
                      ui-sref="tab.venuePromotions">
                <img ng-src="{{venue.ad_location !== undefined ? venue.ad_location : 'img/venue_img_missing.jpg'}}"/>

                 <div class="row">
                    <div class="col col-50">
                        <div class="row">{{venue.name}}</div>
                        <div class="row">{{venue.address}}</div>
                    </div>

                    <div class="col col-50">
                      <div class="row text-left">
                        <p>{{venue.promo_count}} promotions</p>
                      </div>

                      <div class="row text-left">
                         <p>{{venue.distance | number:1}} miles</p>
                      </div>
                    </div>
                 </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
