<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/scrollableTabs/tabSlideBox.css" rel="stylesheet"/>

    <style>
    		.slider-slide h3{
    			color:#fff;
    			margin-top:10px;
    		}
    		.scroll{
    			height:100%;
    		}

    		.tabbed-slidebox .tsb-icons:after{
    			display:none;
    		}
    	</style>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/scrollableTabs/tabSlideBox.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- TabSlideBox plugin -->


    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/serviceConfig.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <script src="js/venue/venueControllers.js"></script>
    <script src="js/venue/venueServices.js"></script>
  </head>
  <body ng-app="buzzbands_mobile">
    <!--
      The nav bar that will be updated as we navigate between views.

    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
  -->

    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    <ion-nav-view ></ion-nav-view>
  -->

    <ion-view title="BuzzBands">
      <ion-content scroll="false">
        <tab-slide-box>
          <div class="tsb-icons">
            <div class="tsb-ic-wrp">
              <ion-scroll direction="x" class="tsb-hscroll">
                <a href="javascript:;" class="">Scan</a>
                <a href="javascript:;" class="">Venues</a>
                <a href="javascript:;" class="">Settings</a>
              </ion-scroll>
            </div>
          </div>
          <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
              <ion-slide >
                <ion-view view-title="Scanner" ng-controller="ScanCtrl">
                    <ion-content style="background: #e8ebf1;" class="padding">
                        <div class="card">
                            <div class="item">
                                <button class="button button-block button-positive" ng-click="scan()">
                                    <i class="icon ion-qr-scanner"></i>
                                    Scan Now
                                </button>
                            </div>
                        </div>

                        <div class="card">
                            <div class="item item-divider">
                                Scan Results
                            </div>
                            <div class="item item-text-wrap">
                                {{vm.scanResults}}
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
              </ion-slide>
              <ion-slide>
                <ion-view view-title="Venues" ng-controller="VenueIndexController">
                  <ion-content>
                    <ion-list>
                      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="venue in venueList" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                        <img ng-src="{{venue.name}}">
                        <h2>{{venue.name}}</h2>
                        <p>{{chat.lastText}}</p>
                        <i class="icon ion-chevron-right icon-accessory"></i>

                        <ion-option-button class="button-assertive" ng-click="remove(chat)">
                          Delete
                        </ion-option-button>
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ion-view>
              </ion-slide>
              <ion-slide>
                  <h3>Settings content</h3>
              </ion-slide>
          </ion-slide-box>
        </tab-slide-box>
      </ion-content>
    </ion-view>
  </body>
</html>
