<ion-view title="Promotion Details" class="main-background">
    <ion-content padding="true" class="has-header">
        <h3 style="color:#000000;text-align:center;">{{promotion.name}}</h3>
        <div class="list card">
            <!--<div background-color: rgb(232, 235, 239);">-->
                <img class="icon ion-image" src="img/promotion_placeholder.png" style="margin: 0px; line-height: 250px; text-align: center;" />
            <!--</div>-->
            <ion-item class="dark" >${{promotion.price || "3.50"}}</ion-item>
            <ion-item class="dark" >{{promotion.description || "Description missing"}}</ion-item>


            <ion-item class="item-thumbnail-left"
                      ui-sref="tab.venueDetails({venue: venue, mode: 'stats'})">
                <img ng-src="{{venue.logo_url !== undefined && venue.logo_url !==null ? venue.logo_url : 'img/venue_placeholder.png'}}"/>

                <div class="col col-70" >

                  <p style="font-size:13pt; font-weight: bold">{{venue.name}}</p>
                  <p style="font-size:11pt;position:relative; top: 2px">{{venue.address}}, {{venue.city}}</p>
                  <p style="font-size:11pt;position:relative; top: 2px">{{venue.open_time || "12am"}} - {{venue.close_time || "11:59pm"}}</p>
                </div>

                <div class="text-right" style="font-size: 11pt; position:absolute;  right:5px; top: 12px">
                      {{venue.distance | number:1 }} mi

                      <br />
                      <span style="position:relative; right: 6px">{{venue.promo_count}} <i class="ion-speakerphone" ></i></span>
                  </div>
               </div>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
