<ion-view title="Promotion Details" id="page6">
    <ion-content padding="true" class="has-header">
        <h3 id="promotionDetails-heading1" style="color:#000000;text-align:center;">{{promotion.name}}</h3>
        <div class="list card" id="promotionDetails-card21">
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <img class="icon ion-image" src="/img/promotion_placeholder.png"/>
            </div>
            <ion-item class="dark" id="promotionDetails-list-item15">{{promotion.description}}</ion-item>
            <ion-item class="item-avatar" id="promotionDetails-list-item12">
                <h2>Royale</h2>
                <p>1 main st</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
