

<!--<link href="css/promotions.css" rel="stylesheet">
-->
<ion-view title="Promotions" id="Promotion">
    <ion-content padding="true" class="has-header">
        <ion-list id="promotions-list">
            <ion-item class="item-thumbnail-left" id="promotions-list-item5">
                <img src="{{promotion.ad_location !== undefined ? promotion.ad_location : 'img/promotion_img_missing.jpg'}}"
                     on-tap="goToPromotionDetails(promotion)"/>

                 <div class="row">
                   <div class="col col-100">
                     <h2>{{promotion.name}}</h2>
                     <p>{{promotion.description}}</p>
                   </div>
                 </div>
            </ion-item>

            <ion-item class="item-thumbnail-left" id="promotions-list-item6">
              <img src="{{promotion.ad_location !== undefined ? promotion.ad_location : 'img/promotion_img_missing.jpg'}}"
                   on-tap="setMainAdLocation(promotion.ad_location)"/>
              <div class="row">
                <div class="col col-100">
                  <h2>$5 Corona bucket</h2>
                  <rating ng-model="rating.rate" max="rating.max"></rating>
                </div>
              </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
