

<!--<link href="css/promotions.css" rel="stylesheet">
-->
<ion-view title="Promotions" id="Promotion">
    <ion-content padding="true" class="has-header">
        <ion-list id="promotions-list2">
            <ion-item class="item-thumbnail-left" id="promotions-list-item5">
                <img src="{{promotion.ad_location !== undefined ? promotion.ad_location : 'img/promotion_img_missing.jpg'}}"
                     on-tap="setMainAdLocation(promotion.ad_location)"/>
                <h2>Royale</h2>
                <p>
                  125 main st
                  <rating ng-model="rating.rate" max="rating.max"></rating>
                </p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="promotions-list-item6">
              <img src="{{promotion.ad_location !== undefined ? promotion.ad_location : 'img/promotion_img_missing.jpg'}}"
                   on-tap="setMainAdLocation(promotion.ad_location)"/>
              <h2>Royale</h2>
              <p>125 main st</p>
              <rating ng-model="rating.rate" max="rating.max"></rating>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="promotions-list-item7">
              <img src="{{promotion.ad_location !== undefined ? promotion.ad_location : 'img/promotion_img_missing.jpg'}}"
                   on-tap="setMainAdLocation(promotion.ad_location)"/>
              <h2>Royale</h2>
              <p>125 main st </p>
              <rating ng-model="rating.rate" max="rating.max"></rating>

            </ion-item>
            <ion-item class="item-thumbnail-left" id="promotions-list-item8">
              <img src="{{promotion.ad_location !== undefined ? promotion.ad_location : 'img/promotion_img_missing.jpg'}}"
                   on-tap="setMainAdLocation(promotion.ad_location)"/>
              <h2>Royale</h2>
              <p>125 main st</p>
              <rating ng-model="rating.rate" max="rating.max"></rating>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="promotions-list-item10">
              <img src="{{promotion.ad_location !== undefined ? promotion.ad_location : 'img/promotion_img_missing.jpg'}}"
                   on-tap="setMainAdLocation(promotion.ad_location)"/>
              <h2>Royale</h2>
              <p>125 main st</p>
              <rating ng-model="rating.rate" max="rating.max"></rating>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="promotions-list-item9">
              <img src="{{promotion.ad_location !== undefined ? promotion.ad_location : 'img/promotion_img_missing.jpg'}}"
                   on-tap="setMainAdLocation(promotion.ad_location)"/>
              <h2>Royale</h2>
              <p>125 main st</p>
              <rating ng-model="rating.rate" max="rating.max"></rating>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
