/* Empty. Add your own CSS if you like */
#map {
  height: 600px !important;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}

.promotionItem .col1{

  width: 100px;
}

.venueAddress {
  display:inline;
  font-size: 30px;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #87CD18 !important;
}

.tab-item {
    color: #F2F4F4 !important;
}

.rating {
  color: #de519b !important;
}

.header-img {
  background-image: url('../img/hypedrive_polygon_bar.png') !important ;
  background-repeat: no-repeat !important;
  background-size: 80%, 50% !important;
  background-position: right !important;
}

.button-dark-pink {
  background-color: #de519b;
}

.button-light-pink {
    background-color: #e87db5;
}

.main-background {
  background-color : #F3F3F3;
}
