/* Empty. Add your own CSS if you like */
#map {
  height: 600px !important;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}

.promotionItem .col1{

  width: 100px;
}

.venueAddress {
  display:inline;
  font-size: 30px;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #4BBA4B !important;
}

.tab-item {
    color: #F2F4F4 !important;
}

.rating {
  color: #de519b !important;
}
